<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
 
  <%= link_to "commentaires", event_commentaire_index_path(params[:id])%>(<%= @event_comments_count%>)


<p><%= @event.likes.count %> <%= (@event.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<%= button_to 'Like', event_likes_path(@event), method: :post %>


<% if @event.club.admin.id == current_user.id %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to '     Back', root_path %>
