 <!-- Navbar -->
 <link rel="stylesheet" type="text/css" href="header.css">

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <div><%=link_to root_path do%>
       <%= image_tag "logo.svg", :size => "100x50"%>
       <%end%>
       </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/events" class="nav-link">Event</a></li>
            <% if user_signed_in? %>
            <li class="nav-item">     
              <% a = 0 %>
                <% Club.all.each do |club| %>
                  <% if club.admin.id == current_user.id %>
                    <%=link_to "Mon club", club_path(club.id), :class=>"nav-link"%>          
                  <% else %>
                    <% a+= 1%>
                  <% end %>
                <% end %>
                <%if a == Club.all.count %>
                  <a class="nav-link" href="/clubs/new">Créer un club</a>
                <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clubs">Liste des clubs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recrutements">Liste des recrutements</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon profil
            </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <div class="dropdown-item"><%= link_to "Mon profil", user_path(current_user.id)%> </div>
          <div class="dropdown-item" style="color: black"><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, :style=>"color: black" %> </div>
        </div>
        </li>
        <% else %>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" data-method="get">
            Se connecter/S'inscrire
          </div>
          <div  class="dropdown-menu" aria-labelledby="navbarDropdown" >
           <%= link_to "Sign in", new_user_session_path, :class=> "dropdown-item" %> 
 <%= link_to "Sign up", new_user_registration_path , :class=> "dropdown-item" %> 
          </div>
        </li>
         <% end %>
          </ul>
        </div>
      </div>
    </nav>

